{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="{% static "css/font-face.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/font-awesome-4.7/css/font-awesome.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/font-awesome-5/css/fontawesome-all.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/mdi-font/css/material-design-iconic-font.min.css" %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static "vendor/bootstrap-4.1/bootstrap.min.css" %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static "vendor/animsition/animsition.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/wow/animate.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/slick/slick.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/select2/select2.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/perfect-scrollbar/perfect-scrollbar.css" %}" rel="stylesheet" media="all">
    

    <!-- Main CSS-->
    <link href="{% static "css/theme.css" %}" rel="stylesheet" media="all">
    {% block custom_css %}
    {% endblock custom_css %}

</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        {% include 'doctor_template/header_doctor.html' %}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            {% include 'doctor_template/menu_sidebar_doctor.html' %}
        </aside>
        <!-- END MENU SIDEBAR-->

        <!--HEADER DESKTOP-->
        <div class="page-container">
            {% include 'doctor_template/header_desktop_doctor.html' %}
        <!--END HEADER DESKTOP-->
        
        <!--MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <form action="/add_monthly_save" method="POST" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>Monthly Checkup </strong>
                                        </div>
                                        <div class="card-body card-block">
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="month_id" class=" form-control-label">Month :</label>
                                                </div>
                                                <div class="col-12 col-md-9" >
                                                    <select name="month_id" id="month_id" class="form-control" >
                                                        <option value='0'>please select</option>
                                                        <option value='January'>January</option>
                                                        <option value='February'>February</option>
                                                        <option value='March'>March</option>
                                                        <option value='April'>April</option>
                                                        <option value='May'>May</option>
                                                        <option value='June'>June</option>
                                                        <option value='July'>July</option>
                                                        <option value='August'>August</option>
                                                        <option value='September'>September</option>
                                                        <option value='October'>October</option>
                                                        <option value='November'>November</option>
                                                        <option value='December'>December</option>                                                        
                                                    </select>
                                                </div>
                                            </div>                                                                                     
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>Criminal Details </strong>
                                        </div>
                                        <div class="card-body card-block">
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="criminal_id" class=" form-control-label">Criminal ID: </label>
                                                </div>
                                                <div class="col-12 col-md-9" >
                                                    <select name="criminal_id" id="criminal_id" class="form-control" >
                                                        <option value='0'>please select</option>
                                                        {% for criminal in criminals %}
                                                        <option value="{{ criminal.id }}">{{ criminal.id }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="appendcriminalinfo">

                                            </div>                                                                                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>General Body Checkup</strong>
                                        </div>
                                        <div class="card-body card-block">
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Weight :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" name="weight" id="weight" placeholder="Text" class="form-control" >
                                                    <input type="hidden" name="doctor_id" value={{ doctor.id }}>
                                                    <small class="form-text text-muted">in kg</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">BMI :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" name="BMI" id="BMI" placeholder="Text" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">BP :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" name="BP" id="BP" placeholder="Text" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Hearing :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" name="Hearing" id="Hearing" placeholder="Text" class="form-control" >
                                                </div>
                                            </div>  
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Vision :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" name="Vision" id="Vision" placeholder="Text" class="form-control" >
                                                </div>
                                            </div>  
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Dental :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" name="Dental" id="Dental" placeholder="Text" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="textarea-input" class=" form-control-label">Mental Report</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <textarea name="mental_report" id="mental_report" rows="9" class="form-control"></textarea>
                                                </div>
                                            </div>   
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="textarea-input" class=" form-control-label">Injuries</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <textarea name="injuries" id="injuries" rows="9" class="form-control"></textarea>
                                                </div>
                                            </div>  
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="textarea-input" class=" form-control-label">Medications</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <textarea name="medications" id="medications" rows="9" class="form-control"></textarea>
                                                </div>
                                            </div>                                                                                                                                                                   
                                            {% if messages %}
                                            <div class=" form-group">
                                                {% for message in messages %}
                                                {% if message.tags == 'error' %}
                                                <div class="alert alert-danger col text-center" style="margin-bottom:10px">{{ message }}</div>
                                                {% endif %}
                                                {% if message.tags == 'success' %}
                                                <div class="alert alert-success col text-center" style="margin-bottom:10px">{{ message }}</div>
                                                {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-dot-circle-o"></i>  Submit
                                                </button>
                                                <button type="reset" class="btn btn-danger btn-sm">
                                                    <i class="fa fa-ban"></i> Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--END MAIN CONTENT-->
    </div>
    <!--END PAGE CONTAINER--> 

    <!--CUSTOM JSS-->
    <script>
        $(document).ready(function(){
            $('#criminal_id').change(function(){
                var selectedid = $(this).children("option:selected").val();
                
                $.ajax({
                    url:"{% url 'doc_criminal_info' %}",
                    type:'POST',
                    data:{criminal_id:selectedid},
                })
                .done(function(response){
                    var json_data=JSON.parse(response);
                    var div_data="";
                    console.log(json_data);
                    div_data += `<div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="text-input" class=" form-control-label">Criminal Name :</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" name="criminal_name" id="criminal_name" placeholder="Text" class="form-control" disabled>
                                        <input type="hidden" name="jail_id" id="jail_id" >
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="example-date-input" class=" form-control-label">Criminal Date of Birth :</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input name="criminal_DOB" id="criminal_DOB" type="date" rows="9"  placeholder="Date" class="form-control" disabled ></input>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="file-input" class=" form-control-label">Criminal Image :</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <img id="criminal_image" src="" style="margin-top: 10px; max-width: 250px; height: auto; border-radius: 10px; margin-bottom: 10px;">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="SelectSexAccused" class=" form-control-label">Sex :</label>
                                    </div>
                                    <div class="col-12 col-md-9" >
                                        <input type="text" name="criminal_sex" id="criminal_sex" placeholder="Text" class="form-control" disabled>
                                    </div>
                                </div>`
                    $('#appendcriminalinfo').html(div_data);  
                    $('#criminal_name').val(json_data[0].fields.criminal_name);
                    $('#jail_id').val(json_data[0].fields.jail_id);
                    $('#criminal_DOB').val(json_data[0].fields.criminal_DOB);
                    $('#criminal_image').attr("src",json_data[0].fields.criminal_image);
                    $('#criminal_sex').val(json_data[0].fields.criminal_sex);
                })
                .fail(function(){
                    alert("Error in fetching")
                })               

            });
        });
    </script>
    <!--END CUSTOM JSS-->

    <!-- Jquery JS-->
    <script src="{% static "vendor/jquery-3.2.1.min.js" %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static "vendor/bootstrap-4.1/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-4.1/bootstrap.min.js" %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static "vendor/slick/slick.min.js" %}">
    </script>
    <script src="{% static "vendor/wow/wow.min.js" %}"></script>
    <script src="{% static "vendor/animsition/animsition.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar.min.js" %}">
    </script>
    <script src="{% static "vendor/counter-up/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "vendor/counter-up/jquery.counterup.min.js" %}">
    </script>
    <script src="{% static "vendor/circle-progress/circle-progress.min.js" %}"></script>
    <script src="{% static "vendor/perfect-scrollbar/perfect-scrollbar.js" %}"></script>
    <script src="{% static "vendor/chartjs/Chart.bundle.min.js" %}"></script>
    <script src="{% static "vendor/select2/select2.min.js" %}">
    </script>

    <!-- Main JS-->
    <script src="{% static "js/main.js" %}"></script>

</body>

</html>
<!-- end document-->
