{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="{% static "css/font-face.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/font-awesome-4.7/css/font-awesome.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/font-awesome-5/css/fontawesome-all.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/mdi-font/css/material-design-iconic-font.min.css" %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static "vendor/bootstrap-4.1/bootstrap.min.css" %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static "vendor/animsition/animsition.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/wow/animate.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/slick/slick.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/select2/select2.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/perfect-scrollbar/perfect-scrollbar.css" %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static "css/theme.css" %}" rel="stylesheet" media="all">
    {% block custom_css %}
    {% endblock custom_css %}

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        {% include 'doctor_template/header_doctor.html' %}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            {% include 'doctor_template/menu_sidebar_doctor.html' %}
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {% include 'doctor_template/header_desktop_doctor.html' %}
            <!-- HEADER DESKTOP-->
            
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="sufee-alert alert with-close alert-warning alert-dismissible fade show" role="alert" style="margin-bottom: 20px; text-align: center;">
                            <i class="zmdi zmdi-check-circle"></i>
                            <span class="content" >You have {{ criminals_pending }} Criminal(s) Whose Health Record is not made</span>
                            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">
                                    <i class="zmdi zmdi-close-circle"></i>
                                </span>
                            </button>
                        </div>
                        <div class="row">
                            <h2 class="title-1 m-b-25">Pending Health reports</h2>
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>Criminal ID</th>
                                            <th>Criminal Name</th>
                                            <th>sex</th>
                                            <th>Jail ID</th>  
                                        </tr>
                                    </thead>
                                    <tbody>                                    
                                        {% for criminal in criminals %}
                                        <tr>
                                            <td>{{ criminal.id }}</td>
                                            <td>{{ criminal.criminal_name }}</td>
                                            <td>{{ criminal.criminal_sex }}</td>
                                            <td>{{ criminal.jail_id }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div> 
                        </div>
                        <div class="row">
                            <h2 class="title-1 m-b-25">Recently conducted monthly checkups</h2>
                            <div class="table-responsive m-b-40">
                                <table class="table table-borderless table-data3">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Month</th>
                                            <th>Criminal ID</th>
                                            <th>Doctor_ID</th>
                                            <th>Jail ID</th>    
                                        </tr>
                                    </thead>
                                    <tbody>                                    
                                        {% for healthcheckup in healthcheckups %}
                                        <tr>
                                            <td>{{ healthcheckup.id }}</td>
                                            <td>{{ healthcheckup.month }}</td>
                                            <td>{{ healthcheckup.criminal_id }}</td>
                                            <td>{{ healthcheckup.doctor_id }}</td>
                                            <td>{{ healthcheckup.jail_id }}</td>    
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>A DBMS Project by - Akshat Keshav Dhamale (20BAI1308). Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="{% static "vendor/jquery-3.2.1.min.js" %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static "vendor/bootstrap-4.1/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-4.1/bootstrap.min.js" %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static "vendor/slick/slick.min.js" %}">
    </script>
    <script src="{% static "vendor/wow/wow.min.js" %}"></script>
    <script src="{% static "vendor/animsition/animsition.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar.min.js" %}">
    </script>
    <script src="{% static "vendor/counter-up/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "vendor/counter-up/jquery.counterup.min.js" %}">
    </script>
    <script src="{% static "vendor/circle-progress/circle-progress.min.js" %}"></script>
    <script src="{% static "vendor/perfect-scrollbar/perfect-scrollbar.js" %}"></script>
    <script src="{% static "vendor/chartjs/Chart.bundle.min.js" %}"></script>
    <script src="{% static "vendor/select2/select2.min.js" %}">
    </script>

    <!-- Main JS-->
    <script src="{% static "js/main.js" %}"></script>

</body>

</html>
<!-- end document-->
