{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Edit Report {{ report.id }}</title>

    <!-- Fontfaces CSS-->
    <link href="{% static "css/font-face.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/font-awesome-4.7/css/font-awesome.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/font-awesome-5/css/fontawesome-all.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/mdi-font/css/material-design-iconic-font.min.css" %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static "vendor/bootstrap-4.1/bootstrap.min.css" %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static "vendor/animsition/animsition.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/wow/animate.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/slick/slick.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/select2/select2.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/perfect-scrollbar/perfect-scrollbar.css" %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static "css/theme.css" %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        {% include 'person_template/header_desktop_person.html' %}
        <!-- END HEADER DESKTOP-->

        <!-- HEADER MOBILE-->
        {% include 'person_template/header_mobile_person.html' %}
        <!-- END HEADER MOBILE -->

        <!-- PAGE CONTENT-->
        <div class="page-content--bgf7">
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb2" style="padding-top: 2px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- WELCOME-->
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4">Edit Witnesses
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>
            <!-- END WELCOME-->

            <!--MAIN FORM-->
            <div class="main-content" style="padding-top: 56px;">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <form action="/add_witness_save" method="POST" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}                        
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>Add Witnesses</strong>
                                        </div>
                                        <div class="card-body card-block">
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="number_witness" class=" form-control-label">Number of Witnesses</label>
                                                    <input type="hidden" name="report_id" value="{{ report.id }}">
                                                </div>
                                                <div class="col-12 col-md-9" >
                                                    <select name="number_witness" class="form-control" id="number_witness" onchange=appendWitnesses()>
                                                        <option value="0">NA/0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="witnesses">

                                            </div>
                                            {% if messages %}
                                            <div class=" form-group">
                                                {% for message in messages %}
                                                {% if message.tags == 'error' %}
                                                <div class="alert alert-danger col text-center" style="margin-bottom:10px">{{ message }}</div>
                                                {% endif %}
                                                {% if message.tags == 'success' %}
                                                <div class="alert alert-success col text-center" style="margin-bottom:10px">{{ message }}</div>
                                                {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                            </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-dot-circle-o"></i> Add
                                                </button>
                                                <button type="reset" class="btn btn-danger btn-sm">
                                                    <i class="fa fa-ban"></i> Reset
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--END MAIN FORM-->

            <!-- COPYRIGHT-->
            <section class="p-t-60 p-b-20">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END COPYRIGHT-->
        </div>

    </div>

    <!--CUSTOM JSS-->
    <script>
    function appendWitnesses() {
        var x = document.getElementById("number_witness").value;
        var d = document.getElementById('witnesses');
        var output = '';
        var i = 0;
        for (i = 0; i < x; i++){
            output +=  `<div class="row form-group" >
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Witness ${i+1} name</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="Witness_${i+1}_name" placeholder="Text" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group" >
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Witness ${i+1} email</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="Witness_${i+1}_email" placeholder="Text" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group" >
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Witness ${i+1} address</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="Witness_${i+1}_address" placeholder="Text" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group" >
                            <div class="col col-md-3">
                                <label for="text-input" class=" form-control-label">Witness ${i+1} phone number</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" name="Witness_${i+1}_phonenumber" placeholder="Text" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="example-date-input" class=" form-control-label">Witness ${i+1} date of birth</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input name="Witness_${i+1}_DOB" type="date" rows="9" placeholder="Date" class="form-control"></input>
                            </div>
                        </div>
                        <div class="row form-group" style="padding-bottom: 40px;">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Witness ${i+1} Description</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea name="Witness_${i+1}_description" rows="9" placeholder="Charges" class="form-control"></textarea>
                            </div>
                        </div>`;
        }
    d.innerHTML = output;
    }
    </script>
    <!--END CUSTOM JSS-->

    <!-- Jquery JS-->
    <script src="{% static "vendor/jquery-3.2.1.min.js" %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static "vendor/bootstrap-4.1/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-4.1/bootstrap.min.js" %}"></script>
    <!-- Vendor JS-->
    <script src="{% static "vendor/slick/slick.min.js" %}">
    </script>
    <script src="{% static "vendor/wow/wow.min.js" %}"></script>
    <script src="{% static "vendor/animsition/animsition.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar.min.js" %}">
    </script>
    <script src="{% static "vendor/counter-up/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "vendor/counter-up/jquery.counterup.min.js" %}">
    </script>
    <script src="{% static "vendor/circle-progress/circle-progress.min.js" %}"></script>
    <script src="{% static "vendor/perfect-scrollbar/perfect-scrollbar.js" %}"></script>
    <script src="{% static "vendor/chartjs/Chart.bundle.min.js" %}"></script>
    <script src="{% static "vendor/select2/select2.min.js" %}">
    </script>

    <!-- Main JS-->
    <script src="{% static "js/main.js" %}"></script>

</body>

</html>
<!-- end document-->
