{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Theories</title>

    <!-- Fontfaces CSS-->
    <link href="{% static "css/font-face.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/font-awesome-4.7/css/font-awesome.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/font-awesome-5/css/fontawesome-all.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/mdi-font/css/material-design-iconic-font.min.css" %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static "vendor/bootstrap-4.1/bootstrap.min.css" %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static "vendor/animsition/animsition.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/wow/animate.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/slick/slick.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/select2/select2.min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "vendor/perfect-scrollbar/perfect-scrollbar.css" %}" rel="stylesheet" media="all">
    

    <!-- Main CSS-->
    <link href="{% static "css/theme.css" %}" rel="stylesheet" media="all">
    {% block custom_css %}
    {% endblock custom_css %}

</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        {% include 'police_template/header_police.html' %}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            {% include 'police_template/menu_sidebar.html' %}
        </aside>
        <!-- END MENU SIDEBAR-->

        <!--HEADER DESKTOP-->
        <div class="page-container">
            {% include 'police_template/header_desktop.html' %}
        <!--END HEADER DESKTOP-->
        
        <!--MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive table--no-card m-b-30">
                                <div class="table-data__tool-right">
                                    <input class="au-input au-input--xl2 " type="text" name="search" id="searchbyletter" placeholder="Search for Theories details..." style="margin-right:10px;"/>
                                </div>
                                <table class="table table-borderless table-striped table-earning">
                                    <thead>
                                        <tr>
                                            <th>Report ID</th>
                                            <th>Date</th>
                                            <th class="text-right">Event type</th>
                                            <th>Status</th>
                                            <th>Theories</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for rep,value in countdict %}
                                        <tr>
                                            <td>{{ rep.id }}</td>
                                            <td>{{ rep.eventdate }}</td>
                                            <td class="text-left">{{ rep.eventtype }}</td>
                                            {% if rep.status == "Pending" %}
                                                <td  class="status", style="color: #ffc107;">{{ rep.status }}</td>
                                            {% elif rep.status == "Filed" %}
                                                <td  class="status", style="color: green;">{{ rep.status }}</td>
                                            {% elif rep.status == "Viewed" %}
                                                <td  class="status", style="color: blue;">{{ rep.status }}</td>
                                            {% else %}
                                                <td  class="status", style="color: red;">{{ rep.status }}</td>
                                            {% endif %} 
                                            <td>{{ value }}</td>     
                                            <td class="text-right">
                                                <a href="show_theory/{{ rep.id }}" class="au-btn au-btn-icon au-btn--blue au-btn--small" style="color:white;">
                                                <i class="zmdi zmdi-view-list-alt" style="color:white;"></i>Show Theories</button>
                                            </td>
                                            <td class="text-right">
                                                <a href="add_theory/{{ rep.id }}" class="au-btn au-btn-icon au-btn--green au-btn--small" style="color:white;">
                                                <i class="zmdi zmdi-plus" style="color:white;"></i>Add Theories</button>
                                            </td>
                                            <td class="text-right">
                                                <a href="remove_theory/{{ rep.id }}" class="au-btn au-btn-icon au-btn--blue2 au-btn--small" style="color:white;">
                                                <i class="zmdi zmdi-minus" style="color:white;"></i>Remove Theories</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% if messages %}
                        <div class=" form-group">
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger col text-center" style="margin-bottom:10px">{{ message }}</div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                            <div class="alert alert-success col text-center" style="margin-bottom:10px">{{ message }}</div>
                            {% endif %}
                            {% endfor %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END MAIN CONTENT-->
    </div>
    <!--END PAGE CONTAINER-->

    <!-- Jquery JS-->
    <script src="{% static "vendor/jquery-3.2.1.min.js" %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static "vendor/bootstrap-4.1/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-4.1/bootstrap.min.js" %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static "vendor/slick/slick.min.js" %}">
    </script>
    <script src="{% static "vendor/wow/wow.min.js" %}"></script>
    <script src="{% static "vendor/animsition/animsition.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar.min.js" %}">
    </script>
    <script src="{% static "vendor/counter-up/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "vendor/counter-up/jquery.counterup.min.js" %}">
    </script>
    <script src="{% static "vendor/circle-progress/circle-progress.min.js" %}"></script>
    <script src="{% static "vendor/perfect-scrollbar/perfect-scrollbar.js" %}"></script>
    <script src="{% static "vendor/chartjs/Chart.bundle.min.js" %}"></script>
    <script src="{% static "vendor/select2/select2.min.js" %}">
    </script>

    <!-- Main JS-->
    <script src="{% static "js/main.js" %}"></script>

</body>

</html>
<!-- end document-->
